@font-face {
    font-family: myFirstFont;
    src: url(Cairo-Bold-BF643384ee22aa6.ttf);
  }
  body{
    font-family:myFirstFont ;
    font-size:small;
    
  }
  .mydiv{
    background-color:beige;
    border: 0cqb;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;

    

  }
  thead{
    background-color: rgb(115, 216, 120);
  }


  .page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  }
  .page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
  }
  .page[size="A4"][layout="landscape"] {
    width: 29.7cm;
    height: 21cm;  
  }
  .page[size="A3"] {
    width: 29.7cm;
    height: 42cm;
  }
  .page[size="A3"][layout="landscape"] {
    width: 42cm;
    height: 29.7cm;  
  }
  .page[size="A5"] {
    width: 14.8cm;
    height: 21cm;
  }
  .page[size="A5"][layout="landscape"] {
    width: 21cm;
    height: 14.8cm;  
  }
  
  .page[size="All"] {
    width: 96%;
    height: 96%;  
  }